{
  "extends": "standard",
  "overrides": [
    {
      "files": ["*.js"], // 检测js
      "parser": "@babel/eslint-parser"
    },
    {
      "files": ["*.ts", "*.tsx"], // 检测ts
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint/eslint-plugin"]
    }
  ],
  "rules": {
    "no-unused-vars": 0,
    "semi": 0,
    "eol-last": 0,
    "space-before-function-paren": 0,
    "padded-blocks": 0,
    "no-trailing-spaces": 0
  }
}